{% extends "base.html" %}


{% block content %}


	<h1> ¡Bienvenido! </h1>

	<!--<table class="table table-hover" style="text-align: center; width: 48%; max-width: 17%; border: 1px solid lightgray; margin-left:50%;margin-top: 4%">
		<tr>
			<td><a href='{% url 'salas' %}'>Salas </a></td>
		</tr>
		<tr>
			<td><a href='{% url 'actos' %}'>Actos </a></td>
		</tr>
		<tr>
			<td><a href='{% url 'etiqueta'%}'> Etiquetas</a></td>
		</tr>
		<tr>
			<td><a href='{% url 'organismos'%}'> Organismos</a></td>
		</tr>

		<tr>
			<td><a href='{% url 'mostrarPersonas'%}'> Personas </a></td>
		</tr>
		<tr>
			<td><a href='{% url 'invitaciones' %}'> Invitaciones </a></td>
		</tr>
		<tr>
			<td><a href='{% url 'actosInvita' %}'> Enviar Invitaciones </a></td>
		</tr>
	</table>-->
	
	<div><center style="text-align: justify">
		<center><h3>Ha accedido a la página principal de la aplicación.</h3></center><br />
		<p style="font-size: 18px">Aquí usted puede elegir la sección que desee, puede tanto añadir, editar o eliminar salas, personas, actos, organismos, roles, invitaciones y etiquetas.</p>
		
		<p style="font-size: 18px">Si lo que desea es crear un acto, perfecto, ese es el objetivo de esta aplicación.</p>
		
		<ul>
			<li style="font-size: 18px">Con esta aplicación usted podrá crear todos los actos que desee</li>
			<li style="font-size: 18px">Invitar a quien usted desee.</li>
			<li style="font-size: 18px">Enviar un email para que sepan que están invitados al acto.</li>
			<li style="font-size: 18px">Confirmar y/o desconfirmar la asistencia de los invitados.</li>
			<li style="font-size: 18px">Ordenar los invitados a su gusto o según protocolo.</li>
			<li style="font-size: 18px">Podrá incluso asignar asientos y descargar la asignación realizada.</li>
		</ul>
		
		<p style="font-size: 18px">Dicho esto, espero que le resulte cómodo y facil su estancia aquí.</p>
</center>  </div>



{% endblock %}
