{% extends "base.html" %}

{% block content %}

{% load static %}


               
                <a href='{% url 'invitaciones' %}' class="close">x</a>
                <h3>Información de la invitacion</h3>

         


	<table class="table table-hover">
		<thead>
			<tr>
				<td>Nombre </td>
				<td>Archivo </td>
				
			</tr>
		</thead>
			<tr>
				<td>{{detalleInvitacion.nombreInvitacion}}</td>
				<td>{{detalleInvitacion.archivo}}</td>
	
				
				<td><a href="{{detalleInvitacion.archivo.url}}" name="link" >{{detalleInvitacion.archivo}}</a></td>
    	</tr>
    	


adfafads



       
	</table>



{% endblock %}
