{% extends 'base.html' %}

{% load bootstrap %}

{% block content %}

		<center><h2>Editar persona</h2></center>
                <hr style="border: 1px solid #eee !important"/>
		

               <form id="form" method="POST" enctype="multipart/form-data" action="" style="background-color:white;padding:20px;border-radius:5px;margin-bottom:20px;">
                 
                
                    
                                {% csrf_token %}
          		<div class="form-row">
          			<div class="form-group col-md-6">
                                                {{ form.nombrePersona|bootstrap}}
				</div>
				<div class="form-group col-md-6">
                                                {{ form.apellido|bootstrap}}
				</div>
			</div>
			<div class="form-group" style="margin-left: 16px; margin-right: 16px;">
				{{form.correo|bootstrap}}
			</div>
			<div class="form-row">
          			<div class="form-group col-md-6 custom-select mr-sm-2">
                                                {{ form.cargo|bootstrap}}
				</div>
				<div class="form-group col-md-6">
                                                {{ form.idOrganismo|bootstrap}}
				</div>
			</div>
			
                                       <button class="btn btn-large btn-primary" type="submit" style="background: black; margin-left: 2%">Editar</button>
		 
                                        <a href='{% url 'mostrarPersonas' %}' style=" margin-right: 2%" class="btn cancelar">Cancelar</a>
                         

                </form>
     

{% endblock %}
