{% extends 'base.html' %}
{% load bootstrap %}
{% block content %}


	<center><h2>Editar etiquetas</h2></center>
         <hr style="border: 1px solid #eee !important"/>
         
         
	<form id="form" method="POST" enctype="multipart/form-data" action="" style="background-color:white;padding:20px;border-radius:5px;margin-bottom:20px;">
		{% csrf_token %}
		
		<div class="form-row">
          			<div class="form-group col-md-6">
					{{ form.nombreEtiqueta|bootstrap }}
				</div>
				<div class="form-group col-md-6">
					{{form.parteAbajo|bootstrap}}
				</div>
		</div>
		<div class="form-row">
          			<div class="form-group col-md-6">
					{{ form.parteArriba|bootstrap }}
				</div>
				<div class="form-group col-md-6">
					{{form.gorro|bootstrap}}
				</div>
		</div>

		
		<button class="btn btn-large btn-primary" type="submit" style="background: black; margin-left: 2%"">Editar</button>
		<a href='{% url 'etiqueta' %}' tyle=" margin-right: 2%" class="btn cancelar">Cancelar</a>
	</form>
{% endblock %}
