{% extends "base.html" %}


{% block content %}



		<center><h2>Organismos</h2></center>
                <hr style="border: 1px solid #eee !important"/>
                
                
                	<table class="table">
		<thead class="thead-dark" style="border: 1px solid black; background: black none repeat scroll 0% 0%; color: white;">

			<tr>
				<th scope="col"><center>Nombre</center></th>
				<th scope="col"><center>Editar</center></th>
				<th scope="col"><center>Borrar</center></th>

			</tr>
		</thead>
		<tbody>
				
                
                
	{% for o in organismos%}
		
	
		
			
			<tr>
				<th scope="row"><center>{{o.nombreOrganismo}}</center></th>
				<td><center><a style="color: green;" href='{% url 'editOrganismo' o.idOrganismo %}' onclick="return confirm('¿ Deseas editar este organismo ?')"> <span class="glyphicon glyphicon-pencil"></span></a></center></td>
				<td><center> <a style="color: red;" href='{% url 'deleteOrganismo' o.idOrganismo %}' onclick="return confirm('¿ Deseas borrar el organismo {{o.nombreOrganismo}} ?')"> x</a></center> </td>
			
				
	</tr>

	{% endfor %}


	</tbody>

	</table>

	<ul class="pagination" style="margin-top:0px;margin-bottom:10px;">
		    {% if organismos.has_previous %}
		    	<li><a style="color: black" href="?page={{ organismos.previous_page_number }}">Anterior</a></li>
		    {% endif %}
		    {% for pg in organismos.paginator.page_range %}
			{% if organismos.number == pg %}
			    <li class="active"><a style="background: black; border: 1px solid black"href="?page={{ pg }}">{{ pg }}</a></li>
			{% else %}
			    <li><a style="color: black" href="?page={{ pg }}">{{ pg }}</a></li>
			{% endif %}
		    {% endfor %}
		    {% if organismos.has_next %}
			    <li><a style="color: black" href="?page={{ organismos.next_page_number }}">Siguiente</a></li>
		    {% endif %}
	</ul>	




			<a href='{% url 'nuevoOrganismo' %}' class="btn btn-primary" style="background: black; float: right">Añadir</a>





{% endblock %}
