{% extends 'base.html' %}

{% block content %}

	
	<center><h2>Roles</h2></center>
                <hr style="border: 1px solid #eee !important"/>
                
                
         <table class="table">
		<thead class="thead-dark" style="border: 1px solid black; background: black none repeat scroll 0% 0%; color: white;">

			<tr>
				<th scope="col"><center>Rol</center></th>
				<th scope="col"><center>Prioridad</center></th>
				<th scope="col"><center>Editar</center></th>
				<th scope="col"><center>Borrar</center></th>
				
			</tr>
		</thead>
                
           <tbody>
                
	{% for r in rol %}

			<tr>
				<td><center>{{r.rol}}</center></td>
				<td><center>{{r.orden}}</center></td>				
				<td><center><a style="color: green;" href='{% url 'editRol' r.idRol %}' onclick="return confirm('¿ Deseas editar este rol ?')"> <span class="glyphicon glyphicon-pencil"></span></a></center></td>
				<td><center> <a style="color: red;" href='{% url 'borrarRoles' r.idRol %}' onclick="return confirm('¿ Deseas borrar el rol {{r.rol}} ?')"> x</a></center> </td>
				
					
	</tr>{% endfor %}
	</tbody>
	</table>
	
		<ul class="pagination" style="margin-top:0px;margin-bottom:10px;">
		    {% if rol.has_previous %}
		    	<li><a style="color: black" href="?page={{ rol.previous_page_number }}">Anterior</a></li>
		    {% endif %}
		    {% for pg in rol.paginator.page_range %}
			{% if rol.number == pg %}
			    <li class="active"><a style="background: black; border: 1px solid black"href="?page={{ pg }}">{{ pg }}</a></li>
			{% else %}
			    <li><a style="color: black" href="?page={{ pg }}">{{ pg }}</a></li>
			{% endif %}
		    {% endfor %}
		    {% if rol.has_next %}
			    <li><a style="color: black" href="?page={{ rol.next_page_number }}">Siguiente</a></li>
		    {% endif %}
		</ul>	




			<a href='{% url 'nuevoRol' %}' style="background: black; float: right" class="btn btn-primary">Añadir</a>





{% endblock %}
