{% extends "base.html" %}


{% block content %}

		

	 <center><h2>Salas de actos</h2></center>
                <hr style="border: 1px solid #eee !important"/>
	

	<table class="table">
		<thead class="thead-dark" style="border: 1px solid black; background: black none repeat scroll 0% 0%; color: white;">
			<tr>
				<th scope="col"><center>Nº</center></th>
				<th scope="col"><center>Nombre</center></th>
				<th scope="col"><center>Asientos</center></th>
				<th scope="col"><center>Detalle</center></th>
				<th scope="col"><center>Editar</center></th>
				<th scope="col"><center>Borrar</center></th>
			</tr>
		
		
		<tbody>
		
			{% for s in salas %}<tr>
				<th scope="row"><center>{{s.idSala}}</center></th>
				<td><center>{{s.nombreSala}}</center></td>
				<td><center><a style="color:  #e59866;" href="{% url 'verAsientos' s.idSala  %}" ><span class="glyphicon glyphicon-bed"></span></a></center></th>
				<td><center><a style="color: #2993d1;" href="{% url 'sala-detail' s.idSala  %}" ><span class="glyphicon glyphicon-eye-open"></span></a></center></td>
				<td><center><a style="color: green;" href='{% url 'editSala' s.idSala %}' onclick="return confirm('¿ Deseas editar esta Sala ?')"> <span class="glyphicon glyphicon-pencil"></span></a></center></td>
				<th scope="col"><center> <a style="color: red;" href='{% url 'deleteSala' s.idSala %}' onclick="return confirm('¿ Deseas borrar esta Sala ?')"> x</a></center></td>
	</tr>{% endfor %}
	</tbody>
	</thead>
	</table>

		
		<ul class="pagination" style="margin-top:0px;margin-bottom:10px;">
		    {% if salas.has_previous %}
		    	<li><a style="color: black" href="?page={{ salas.previous_page_number }}">Anterior</a></li>
		    {% endif %}
		    {% for pg in salas.paginator.page_range %}
			{% if salas.number == pg %}
			    <li class="active"><a style="background: black; border: 1px solid black"href="?page={{ pg }}">{{ pg }}</a></li>
			{% else %}
			    <li><a style="color: black" href="?page={{ pg }}">{{ pg }}</a></li>
			{% endif %}
		    {% endfor %}
		    {% if salas.has_next %}
			    <li><a style="color: black" href="?page={{ salas.next_page_number }}">Siguiente</a></li>
		    {% endif %}
		</ul>	
	







			<a href='{% url 'nuevaSala' %}' class="btn btn-primary" style="background: black; float: right; margin-left:1%">Añadir</a>
			<a href='{% url 'asientosNuevos' %}' class="btn btn-primary" style="background: black; float: right">Añadir Asientos</a>
	







{% endblock %}
