{% extends 'base.html' %}

{% load bootstrap %}

{% block contenidoLogin %}


	
	
	
        <div class="card card-container">

            <img id="profile-img" class="profile-img-card" src="/policia/media/img/policia-nacional_NhuTUoC.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form id='formulario' method='post' action=''>{% csrf_token %}
                <span id="reauth-email" class="reauth-email"></span>
		<center>{{formulario.username|bootstrap}}</center>
		<center>{{formulario.password|bootstrap}}</center>

                <button class="btn btn-lg btn-primary btn-block btn-signin" style="background: black"type="submit">Ingresar</button>
            </form>
          
        </div>

{% endblock %}
